@keyframes blink {
    0% { border-color: red; }
    25% { border-color: yellow; }
    50% { border-color: rgb(216, 216, 78); }
    75% { border-color: blue; }
    100% { border-color: red; }
  }
  
  .blinking-border {
    border: 10px solid red; /* Initial border color */
    animation: blink 2s infinite; /* Blinking animation */
    padding: 10px;
    border-radius: 15px; /* Rounded corners for poster effect */
  }
  